name: Deploy on Staging

on:
  workflow_dispatch:
  push:
    tags:
      - "staging"

jobs:
  build:
    runs-on: [self-hosted]
    steps:
      - uses: actions/checkout@v3
      - name: Run a multi-line script
        run: |
          echo Updating docs container...
          git tag --delete staging
          git pull
          git fetch --all --tags
          git checkout tags/staging
          docker-compose down --remove-orphans
          docker-compose up -d
